services:
  mongodb:

    image: mongo:8.2.3

    container_name: mongodb

    ports:
      - "27007:27017"

    volumes:
      - mongodata:/data/db

    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}

    networks:
      - backend

    restart: always

  pgvector:
    image: pgvector/pgvector:0.8.1-pg18-trixie
    container_name: pgvector
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - pgvector_data_v2:/var/lib/postgresql
    networks:
      - backend
    restart: always

networks:
  backend:


volumes:
  mongodata:
  pgvector_data_v2:


